name: Update M3U Playlist

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # Đã sửa lỗi python-python mà GitHub cảnh báo trong ảnh của bạn

      - name: Install dependencies
        run: pip install requests beautifulsoup4 cloudscraper

      - name: Run update script
        run: python update_m3u.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add playlist.m3u
          git commit -m "Auto-update playlist" || exit 0
          git pull --rebase origin main
          git push
